version: 2.0
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:10.15
    steps:
      - checkout
      - run:
          name: build
          command: |
            make build
      - run:
          name: test
          command: |
            yarn jest
      - run:
          name: verify-api-references
          command: |
            make verify-api-references
            
      - store_artifacts:
          path: ~/repo/build

